$c-violet: hsl(263, 55%, 52%);
$c-dark-grayish-blue: hsl(217, 19%, 35%);
$c-dark-blackish-blue: hsl(219, 29%, 14%);
$c-white: hsl(0, 0%, 100%);
$c-light-gray: hsl(0, 0%, 81%);
$c-light-grayish-blue: hsl(210%, 46%, 95%);
