.card {
  $bg-colors: (
    1: $c-violet,
    2: $c-dark-grayish-blue,
    3: $c-white,
    4: $c-dark-blackish-blue,
    5: $c-white,
  );

  @each $i, $color in $bg-colors {
    &:nth-child(#{$i}) {
      background-color: $color;
    }
  }

  width: 100%;
  padding: 2.6rem 3.2rem;
  border-radius: 0.8rem;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);

  position: relative;

  & > img {
    position: absolute;
    right: 2.4rem;
    top: 0;

    @media (min-width: 768px) {
      right: 8rem;
    }
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    img {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
    }

    p {
      color: $c-white;
      font-weight: 500;
    }

    p:last-child {
      opacity: 0.5;
      font-size: 1.1rem;
      line-height: 1;
      position: relative;
      z-index: 10;
    }
  }
  p:not(img + div > p) {
    color: $c-white;
    margin-top: 1.8rem;
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 4rem;
    position: relative;
    z-index: 10;
  }

  q {
    color: $c-light-gray;
    opacity: 0.7;
  }

  :is(&:nth-child(3), &:nth-child(5)) {
    :is(p, q) {
      color: $c-dark-blackish-blue;
    }
  }
}
